yc_token = "{{ vault_yc_token }}"
folder_id = "{{ vault_yc_folder_id }}"
db_password = "{{ vault_redmine_db_password }}"
ssh_key_path = "{{ vault_ssh_key_path }}"
ssh_login = "{{  vault_ssh_login }}"

datadog_api_key = "{{ vault_datadog_api_key }}"
datadog_app_key = "{{ vault_datadog_app_key }}"
datadog_api_url = "{{ vault_datadog_api_url }}"
