image_id = "{{ vault_yc_image_id }}"
zone = "{{ vault_yc_zone }}"
app_port = "{{ vault_redmine_port }}"
db_user = "{{ vault_redmine_db_username }}"
db_name = "{{ vault_redmine_db_name }}"
platform_id = "{{ vault_yc_platform_id }}"
datadog_site = "{{ vault_datadog_site }}"
